
h1 {
    font-size: 48pt;
    font-family: Arial, Helvetica, sans-serif;
}


@media screen and (max-width: 800px) {

    h1 {
        text-align: left;
        color: green;
        font-size: 24pt;
    }

}

@media screen and (max-width: 640px) {

    h1 {
        color: red;
    }

}


@media screen and (min-width: 800px) {

    h1 {
        text-align: center;
        color: blue;
    }

}