h1 {
    font-size: 30pt;
    text-align: center;
}

p {
    text-align: justify;
    width: 400px;
    transition: color 2s;
}

p:hover {
    color: red;
}

.semiText {
    display: inline-block;
    margin: 0 50px;
}

#introduction {
    margin: auto;
    margin-bottom: 30px;
}

#paragrapheDouble {
    text-align: center;
}

#logo {
    position: fixed;
    top: 50px;
    right: 0px;
}