@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

h1 {
    color: red;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

li {
    color: green;
}

.orange {
    color: orange;
}

#nouveauTitre {
    color: darkred;
}

li:hover {
    background-color: darksalmon;
    font-weight: bold;
}