h1 {
    color: red;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 5px solid black;

    margin : 50px 30px 80px 30px;
    padding: 10px;
}

.couple {
    background-color: orange;
}

.couple:hover {
    background-color: seagreen;
}

#labelMDP {
    color: red;
    font-weight: bold;
}